// Colors
$iron: #ced1d3;
$bony-clay: #223237;
$guardsman-red: #ca0000;
$hit-gray: #a8b4b9;
$white: #fff;
$mako: #414a4f;
// Fonts
$font: 'Raleway', sans-serif;
$slogan: .9em;
$nav-item: .95em;
$nav-items-mobile: .8em;
$feature: .8em;
$content-title: 4em;
$content-title-mobile: 2.5em;
$content-summary: 1.5em;
$content-summary-mobile: 1.2em;
$article-titles: 1.3em;
$article-titles-lh: .9em;
$article-subtitles: .9em;
$sidebar-titles: 1em;
$forum-title: .95em;
$forum-auth: .85em;
// Margin and padding
$top-header: 60px;
$top-header-mobile: 25px;
$top-header-phone: 15px;
$top-nav-padding: 0 21px;
$feature-padding: 95px ;
$gallery-padding: 8px;
$gallery-margin-inner: 15px 11px 10px 11px;
