.no-link {
  color: inherit;

  text-decoration: inherit;

  outline: inherit;
  // &:link {
  //   color: inherit;

  //   outline: none;
  // }

  // &:visited {
  //   color: inherit;

  //   outline: none;
  // }

  // &:focus {
  //   color: inherit;

  //   outline: none;
  // }

  // &:hover {
  //   color: inherit;

  //   outline: none;
  // }

  // &:active {
  //   color: inherit;

  //   outline: none;
  // }
}
