/**
 * Example of buttons mixin
 */
@mixin button {
  display: inline-block;
  min-width: $minimum-button-width;
  padding: $default-padding;
  border: $default-border;
  border-radius: $border-radius;
  margin: 0 $default-horizontal-margin $default-vertical-margin $default-horizontal-margin;

  background-color: $button-face-color;
  color: $default-text-color;

  font-size: $base-font-size;
  text-decoration: none;

  &:hover {
    background-color: $button-hover-background-color;
    color: $alternate-text-color;

    cursor: pointer;
  }
}
