@use "../../settings/borders";
@use "../../settings/colors";
@use "../../settings/font-sizes";
@use "../../settings/margins";
@use "../../settings/paddings";
@use "../../settings/widths";

/**
 * Example of buttons mixin
 */
@mixin button {
  display: inline-block;
  min-width: widths.$minimum-button-width;
  padding: paddings.$default-padding;
  border: borders.$default-border;
  border-radius: borders.$border-radius;
  margin: 0 margins.$default-horizontal-margin margins.$default-vertical-margin margins.$default-horizontal-margin;

  background-color: colors.$button-face-color;
  color: colors.$default-text-color;

  font-size: font-sizes.$base-font-size;
  text-decoration: none;

  &:hover {
    background-color: colors.$button-hover-background-color;
    color: colors.$alternate-text-color;

    cursor: pointer;
  }
}
