@use "../../settings/borders";
@use "../../settings/colors";
@use "../../settings/margins";
@use "../../settings/paddings";
@use "../../settings/widths";
@use "desktop";
@use "mobile";

/**
 * Example of columns mixin
 */
@mixin column($side) {
  @include mobile.mobile {
    width: 100%;
  }
  @include desktop.desktop {
    @if $side == 'left' {
      width: widths.$left-column-width;
      margin-right: margins.$default-horizontal-margin;
    }
    @else {
      width: widths.$right-column-width;
    }
  }

  display: inline-block;
  padding: paddings.$default-padding;
  border: borders.$default-border;
  border-radius: borders.$border-radius;

  background-color: colors.$gradient-background-color;
  color: colors.$default-text-color;

  vertical-align: top;
}
