.banner {
  width: 100%;
  height: 550px;
  padding: 0 20px;
  overflow: visible;

  background: url(/assets/img/hero.jpg) no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: $text-banner-color;

  &__feature {
    display: inline-block;
    padding: 0 5px;
    margin-top: 30px;
    margin-bottom: 0;

    background: $banner-feature-background-color;

    font-size: $banner-feature-font-size;
    line-height: 1.6;
    text-transform: uppercase;
  }

  &__title {
    margin: 10px 0 20px 0;

    font-size: $banner-title-font-size;
    font-weight: 300;
    line-height: 1em;
  }

  &__summary {
    margin-bottom: 70px;

    color: $text-banner-summary-color;

    font-size: $banner-summary-font-size;
  }
}

@media only screen and (min-width: 64.0625em) {
  .banner {
    padding: 0;

    &__title {
      margin: 10px 0;

      font-size: $banner-title-desktop-font-size;
      line-height: 1.15;
    }

    &__feature {
      margin-top: 95px;
    }

    &__summary {
      font-size: $banner-summary-desktop-font-size;
    }
  }
}
