.gallery {
  columns: 1;
  .card {
    break-inside: avoid;
  }
}

@media only screen and (min-width: 34.0625em) {
  .gallery {
    columns: 2;
  }
}

@media only screen and (min-width: 64.0625em) {
  .gallery {
    columns: 3;
  }
}
