/**
 * Masonry with columns
 * https://liveash.com/demos/single-page/css-grid-columns-test.html
 */
.gallery {
  columns: 1;
}

@media only screen and (min-width: 34.0625em) {
  .gallery {
    column-fill: balance;
    column-gap: 20px;
    column-width: 12rem;
    columns: 2;
    // .card {
    //   break-inside: avoid;
    // }
  }
}

@media only screen and (min-width: 64.0625em) {
  .gallery {
    column-count: 3;
    column-fill: balance;
    column-gap: 26px;
    column-width: 10rem;
  }
}
