.header {
  display: grid;
  max-width: 100%;
  margin: $header-vertical-margin auto $header-vertical-margin;

  &__slogan {
    display: none;
  }
}

@media only screen and (min-width: 34.0625em) {
  .header {
    margin-top: $header-mobile-vertical-margin;
    margin-bottom: $header-mobile-vertical-margin;
  }
}

@media only screen and (min-width: 48em) {
  .header {
    grid-template-columns: max-content 1fr;
  }
}

@media only screen and (min-width: 64.0625em) {
  .header {
    margin-top: $header-desktop-top-margin;
    margin-bottom: $header-desktop-bottom-margin;

    &__slogan {
      display: block;
    }
  }
}
