.nav {
  display: flex;

  list-style-type: none;

  justify-content: flex-end;

  &__item {
    color: $bony-clay;
  }

  &__link {
    padding: $top-nav-padding;

    color: $bony-clay;

    font-size: $nav-item;
    text-transform: uppercase;
  }
}
