.nav {
  display: flex;

  list-style-type: none;

  justify-content: space-between;

  &__item {
    color: $text-nav-item-color;
  }

  &__link {
    display: block;
    padding: $top-nav-padding;

    font-size: $nav-items-mobile;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      background: $gallery;
    }
  }

  &__text {
    display: none;
  }
}

@media only screen and (min-width: 354px) {
  .nav {
    &__text {
      display: inline;
    }
  }
}

@media only screen and (min-width: 34.0625em) {
  .nav {
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 64.0625em) {
  .nav {
    &__link {
      font-size: $nav-item-font-size;
    }
  }
}
