.nav {
  display: flex;

  text-shadow: 1px 1px 2px rgba(0,0,0,.2);

  list-style-type: none;

  justify-content: space-between;
  &__item {
    color: $text-nav-item-color;
    &:hover {
      background: $text-nav-item-hover-color;
    }
  }

  &__link {
    display: block;
    padding: 0 10px;

    font-size: $nav-link-font-size;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    display: none;
  }
}

@media only screen and (min-width: 354px) {
  .nav {
    &__text {
      display: inline;
    }
  }
}

@media only screen and (min-width: 34.0625em) {
  .nav {
    justify-content: flex-end;

    &__link {
      padding: $nav-spacing-padding;
    }
  }
}

@media only screen and (min-width: 64.0625em) {
  .nav {
    &__link {
      font-size: $nav-link-desktop-font-size;
    }
  }
}
