$base-font-size: 1rem !default;
$content-title: 4em;
$content-title-mobile: 2.5em;
$content-summary: 1.5em;
$content-summary-mobile: 1.2em;
$article-titles: 1.3em;
$article-titles-lh: .9em;
$article-subtitles: .9em;
$sidebar-titles: 1em;
$forum-title: .95em;
$forum-auth: .85em;
// Font-sizes
$slogan-font-size: .9em;
$nav-link-desktop-font-size: .95em;
$nav-link-font-size: .8em;
$feature-font-size: .8em;
$feature-title-font-size: 2.5em;
$feature-summary-font-size: 1.2em;
// Examples:
$base-font-size: 16px;
$header-font-size: 3rem;
$sub-header-font-size: 2rem;
$footer-font-size: .75rem;
