$top-header-margin: 15px;
$top-header-mobile-margin: 25px;
$top-header-desktop-margin: 60px;
$bottom-desktop-margin: 20px;
$gallery-inner-margin: 15px 11px 10px 11px;
// Examples
$default-vertical-margin: 1rem;
$default-horizontal-margin: 1%;
