// Header
$header-vertical-margin: 15px;
$header-mobile-vertical-margin: 25px;
$header-desktop-top-margin: 60px;
$header-desktop-bottom-margin: 20px;
// Gallery
$gallery-inner-margin: 15px 11px 10px 11px;
// Card
$card-text-inner-margin: 15px 11px 10px 11px;
// Examples
$default-vertical-margin: 1rem;
$default-horizontal-margin: 1%;
