@use "../settings/colors";
@use "../settings/font-family";
@use "../settings/font-sizes";

body {
  // overflow-x: hidden;
  background: colors.$background-color;

  font-family: font-family.$base-font-family;
  font-size: font-sizes.$base-font-size;
}
