@charset 'UTF-8';

/* Settings layer */
@import './settings/settings';
/* Tools layer */
@import './tools/tools';
/* Generics layer */
@import './generic/generics';
/* Elements layer */
@import './elements/elements';
/* Objects layer */
@import './objects/objects';
/* Components layer */
@import './components/components';
/* Third-party layer */
@import './vendors/vendors';
/* Trumps layer */
@import './trumps/trumps';

/*
// TODO: Refactor
@media only screen and (max-width: 64.0625em) {




    .card {
      width: 100%;
    }
  }

  .sidebar {
    margin-top: -30%;
  }
}

@media only screen and (max-width: 34.0625em) {

  .gallery {
    &-container {
      columns: 1;
    }
  }

  .sidebar {
    margin-top: 0;
  }
}
*/
