@charset 'UTF-8';

/* Settings layer */
@use 'settings/settings';
/* Tools layer */
@use 'tools/tools';
/* Generics layer */
@use 'generic/generics';
/* Elements layer */
@use 'elements/elements';
/* Objects layer */
@use 'objects/objects';
/* Components layer */
@use 'components/components';
/* Third-party layer */
@use 'vendors/vendors';
/* Trumps layer */
@use 'trumps/trumps';

/*
// TODO: Refactor
@media only screen and (max-width: 64.0625em) {

  .sidebar {
    margin-top: -30%;
  }
}

@media only screen and (max-width: 34.0625em) {

  .gallery {
    &-container {
      columns: 1;
    }
  }

  .sidebar {
    margin-top: 0;
  }
}
*/
